<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AgTwo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <AgTwo.Properties.Settings>
            <setting name="setUDP_isOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setIP_thisPort" serializeAs="String">
                <value>29999</value>
            </setting>
            <setting name="setIP_autoSteerPort" serializeAs="String">
                <value>28888</value>
            </setting>
            <setting name="setPgm_isFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setPgm_defaultLat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setPgm_defaultLon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setF_culture" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="setF_workingDirectory" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="setGPS_SimLatitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setGPS_SimLongitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setComm_commName" serializeAs="String">
                <value />
            </setting>
            <setting name="setUDP_isSendNMEAToUDP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setUDP_isUsePluginApp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setMod_isNavConnected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setMod_isMachineConnected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setMod_isSteerConnected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="etIP_SubnetOne" serializeAs="String">
                <value>192</value>
            </setting>
            <setting name="etIP_SubnetTwo" serializeAs="String">
                <value>168</value>
            </setting>
            <setting name="etIP_SubnetThree" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="eth_loopOne" serializeAs="String">
                <value>127</value>
            </setting>
            <setting name="eth_loopTwo" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="eth_loopThree" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="eth_loopFour" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </AgTwo.Properties.Settings>
    </userSettings>
</configuration>
